In [1]:
import numpy as np
import pandas as pd

- df.head()
- df.sample()
- df.sample().sort_index()
- df.nunique()
- df.shape
- df.columns.tolist()
- df.dtype
- df.isna().sum()

In [2]:
gs_nys = pd.read_csv('great_schools_nys_cleaned1.csv')
income_nys = pd.read_csv('income_nys.csv')

In [5]:
gs_nys.columns.tolist()

['Unnamed: 0', 'school', 'rating', 'type', 'students', 'grades', 'city', 'zip']

In [6]:
gs_nys = gs_nys.drop(['Unnamed: 0'], axis=1)

In [7]:
gs_nys.head()

,school,rating,type,students,grades,city,zip
0,Garden City High School,10,Public district,"1,165",9-12,Garden City,11530
1,Saddle Rock School,10,Public district,558,K-5,Great Neck,11023
2,Purchase School,10,Public district,315,K-5,Harrison,10577
3,Center Street School,10,Public district,489,K-5,Williston Park,11596
4,Briarwood School,10,Public district,170,K-3,Irondequoit,14617

In [17]:
gs_nys['zip'].dtype

dtype('O')

In [25]:
gs_nys['zip'] = gs_nys['zip'].str.strip()

In [39]:
gs_nys[gs_nys['zip']  == "NY"]

,school,rating,type,students,grades,city,zip
907,Ps 295,7,Public district,497,PK-5,Brooklyn NY 11215,NY
1170,Grand Concourse Academy Charter School,7,Public charter,562,K-8,Bronx,NY
2466,La Cima Charter School,5,Public charter,360,K-5,3rd Floor,NY
2476,Invictus Preparatory Charter School,5,Public charter,260,5-8,3rd Floor,NY

In [52]:
gs_nys['zip'][907]=11215
gs_nys['zip'][1170]=10465
gs_nys['zip'][2466]=11221
gs_nys['zip'][2476]=11208

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [53]:
gs_nys[gs_nys['zip']  == "NY"]

Empty DataFrame
Columns: [school, rating, type, students, grades, city, zip]
Index: []

In [57]:
gs_nys[gs_nys['zip']  == "Bronx"]

,school,rating,type,students,grades,city,zip
1778,International Leadership Charter School,6,Public charter,400,9-12,Bronx,Bronx
2483,Boys Prep Bronx Elementary School,5,Public charter,336,PK-4,Bronx,Bronx

In [58]:
gs_nys['zip'][1778]=10463
gs_nys['zip'][2483]=10451

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
gs_nys[gs_nys['zip']  == "Bronx"]

Empty DataFrame
Columns: [school, rating, type, students, grades, city, zip]
Index: []

In [60]:
gs_nys['zip'].astype('int')

0       11530
1       11023
2       10577
3       11596
4       14617
        ...
4346    14215
4347    14207
4348    10570
4349    10522
4350    14901
Name: zip, Length: 4351, dtype: int64

In [9]:
income_nys = income_nys.drop(['Unnamed: 0'], axis=1)

In [10]:
income_nys.head()

,state,zipcode,returns,single_returns,joint_returns,hoh_returns,agi,total_income,educator_expense_amount,returns_itemized,charitable_contributions
0,NY,0,9580270.0,4940030.0,2950010.0,1479490.0,852298824.0,863210313.0,73091.0,3424170.0,18715647.0
1,NY,10001,15340.0,11080.0,2700.0,1170.0,2785807.0,2820411.0,46.0,8190.0,55721.0
2,NY,10002,42290.0,25770.0,10170.0,5480.0,2489499.0,2523419.0,118.0,10390.0,32728.0
3,NY,10003,28950.0,22020.0,5340.0,870.0,8764798.0,8866747.0,81.0,18060.0,362239.0
4,NY,10004,2450.0,1440.0,790.0,140.0,931468.0,943900.0,0.0,1690.0,18710.0

In [74]:
gs_nys['zip'] = gs_nys['zip'].astype('int')

In [75]:
gs_nys['zip'].dtype

dtype('int64')

In [76]:
income_nys['zipcode'].dtype

dtype('int64')

## Checkpoint ^^
- Had to do a bit more clean up on GS dataset
- Below will try to merge GS and income data

In [80]:
gs_income = pd.merge(gs_nys, income_nys, how='left', left_on='zip', right_on='zipcode')

In [81]:
gs_income.nunique()

school                      4299
rating                        10
type                           2
students                    1197
grades                        69
city                         804
zip                         1039
state                          1
zipcode                     1023
returns                      759
single_returns               609
joint_returns                514
hoh_returns                  341
agi                         1023
total_income                1023
educator_expense_amount      238
returns_itemized             538
charitable_contributions     979
dtype: int64

In [84]:
gs_income.sample(10).sort_index()

,school,rating,type,students,grades,city,zip,state,zipcode,returns,single_returns,joint_returns,hoh_returns,agi,total_income,educator_expense_amount,returns_itemized,charitable_contributions
883,Ps 8 Robert Fulton,7,Public district,916,K-8,Brooklyn,11201,NY,11201.0,33550.0,20950.0,9290.0,2350.0,6976637.0,7085009.0,155.0,20650.0,112414.0
1158,Ps Is 208,7,Public district,706,K-8,Queens,11426,NY,11426.0,9280.0,4370.0,3720.0,960.0,599764.0,605551.0,83.0,3960.0,9852.0
1273,Matthew Paterson Elementary School,7,Public district,496,K-4,Patterson,12563,NY,12563.0,3630.0,1700.0,1520.0,340.0,281047.0,284722.0,42.0,1670.0,4266.0
2082,Moriah Elementary School,5,Public district,400,PK-6,Port Henry,12974,NY,12974.0,650.0,310.0,230.0,90.0,28955.0,29106.0,0.0,100.0,94.0
2448,Yorkville Community School,5,Public district,513,PK-5,New York,10128,NY,10128.0,33300.0,20900.0,9500.0,1850.0,12783790.0,12952497.0,185.0,20200.0,375425.0
2739,Edward R Andrews Elementary School,4,Public district,303,PK-5,Hamilton,13346,NY,13346.0,1920.0,940.0,790.0,130.0,153888.0,156808.0,17.0,740.0,3201.0
2877,Ps 7 Abraham Lincoln,4,Public district,877,PK-5,Brooklyn,11208,NY,11208.0,44930.0,21070.0,7490.0,15670.0,1482501.0,1492997.0,123.0,9370.0,23644.0
2917,Pakanasink Elementary School,4,Public district,496,PK-5,Circleville,10919,NY,10919.0,610.0,290.0,260.0,70.0,45728.0,46228.0,7.0,280.0,730.0
3589,Ms 266 Park Place Community Middle School,3,Public district,161,6-8,Brooklyn,11217,NY,11217.0,20720.0,13470.0,4560.0,2170.0,2851362.0,2897328.0,118.0,10700.0,33920.0
4340,Woodrow Wilson School,1,Public district,433,K-5,Binghamton,13905,NY,13905.0,10720.0,6230.0,2840.0,1420.0,545343.0,553352.0,70.0,2230.0,6569.0

In [85]:
gs_income.to_csv('gs_income.csv')

## Checkpoint
### This is the combined dataframe that I'll use for analysis ^^